.sobre-o-blog header {
    font-size: 180%;
    text-align: center;
    padding: 10px;
    color: teal;
    margin: 10px 0px 10px 0px;
}

.sobre-o-blog p {
    text-align: justify;
    margin: 0% 10% 0% 10%;
    font-size: larger;
    border: 2px teal solid;
    padding: 10px;
}

.sobre-o-blog figure{
    border: 2px teal solid;
    border-radius: 10px;
    min-width: 70vh;
    max-width: 70vh;
}

.sobre-o-blog img{
    display: flex;
    border-radius: 10px;
    min-width: 70vh;
    max-width: 70vh;
}

.um-pouco-info header {
    text-align: center;
    margin: 20px;
    font-size: 170%;
    color: teal;
}

.texto-pouco-info {
    border: 2px teal solid;
    border-radius: 10px;
    margin: 0% 15% 0% 15%;
    padding: 15px;
    text-align: justify;
    font-size: larger;
}

.texto-pouco-info ul {
    padding: 20px;
}

.fundadores header {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: teal;
    margin: 15px 0px 15px 0px;
}

.fundadores figure {
    border-radius: 10px;
    display: inline-flex;
}

.fundadores figurecaption {
    font-size: 180%;
    min-width: 35vh;
    max-width: 35vh;
    padding: 15px;
    text-align: center;
    padding-top: 20%;
}

.fundadores img {
    border-radius: 8px;
    max-width: 300px;
    max-height: 40%;
    text-align: center;
    border-right: 5px teal solid;
    border-bottom: 5px teal solid;
}