:root {
    --corBackground: rgb(255, 255, 255);
    --corTitulosPosts: rgb(64, 64, 255);
    --corDoTexto: rgb(26, 26, 26);
}

* {
    text-align: center;
}

#listagemTitulo {
    font-size: 200%;
}

.posts {
    background-color: var(--corBackground);
    border: 1px var(--corBackground) solid;
    border-radius: 12px;
    margin: 1% 5% 1% 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2%;
}

.posts header {
    background-color: var(--corTitulosPosts);
    border: 1px var(--corTitulosPosts) solid;
    border-radius: 5px;
    color: white;
    padding: 8px;
    font-size: 120%;
    margin: 10px 30% 10px 30%;
}

.posts main {
    font-size: 105%;
    color: var(--corDoTexto);
    font-style: italic;
    margin-bottom: 2%;
}

nav {
    background-color: var(--corTitulosPosts);
    border: 1px var(--corTitulosPosts) solid;
    border-radius: 10px;
    text-align: center;
    list-style: none;
    margin: 0 10% 1% 10%;
    padding: 2px;
}

.lista-navbar li {
    font-size: 200%;
    display: inline;
    margin-right: 50px;
}

.lista-navbar a {
    color: white;
    text-decoration: none;
}