:root {
    /* Tons verdes */
    --main-green: rgb(36, 127, 84);
    --second-green: rgb(80, 168, 110);
    --berylline-green: rgb(148, 210, 155);
    --light-green: rgb(221, 245, 195);

    /* Marrons */
    --light-brown: rgb(255, 240, 201);
    --berylline-brown: rgb(248, 221, 168);
    --second-brown: rgb(243, 192, 120);
    --main-brown: rgb(197, 134, 75);

    /* Outros tons */
    --grey: rgb(240, 240, 240);
    --white-grey: rgb(245, 245, 245);
    --shop-menu-color: #FFFFFF;

    /* Cores STARBUCKS */
    --colorGreenStarbucks: #006241;
    --colorGreenAccent: #00754a;
    --colorGreenLight: #d4e9e2;
    --colorHouseGreen: #1e3932;
    --colorGold: #cba258;
    --colorGoldLight: #dfc49d;
    --colorGoldLightest: #faf6ee;
    --colorNeutralCool: #f9f9f9;
    --colorNeutralWarm: #f2f0eb;
    --colorCeramic: #edebe9;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 50px;
}

main {
    background-color: var(--grey);
}

.navbar-logo {
    margin-right: auto;
    margin-left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    color: black;
    font-size: 105%;
    color: #000;
    position: relative;
    text-decoration: none;
}

.navbar-list a::before {
    background: var(--berylline-green);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.img-header {
    display: flex;
    max-width: 210%;
    max-height: 100%;
}

.img-header img {
    max-height: 100%;
    max-width: 210%;
    margin-left: 14%;
}

.tx-cabecalho {
    margin: 13% 5% 1% 5%;
    font-size: 300%;
}

.tx-cabecalho p {
    width: 250%;
}

.page-roll {
    color: var(--colorCeramic);
    background-color: var(--colorGreenStarbucks);
}

.tx-page-roll {
    padding: 2rem;
    text-align: center;
    font-size: large;
    font-style: oblique;
}

.header-newsletter {
    text-align: center;
    font-size: 250%;
    margin: 2rem 30vh;
    border-bottom: 2px var(--second-green) solid;
}

.newsletter {
    display: flex;
    margin: 5% 27%;
}

.newsletter p {
    padding: 2rem;
    margin: 0.2rem;
    text-align: justify;
    font-size: 150%;
}

.newsletter img {
    width: 45vh;
    height: 30vh;
}

.about-us {
    margin: 0 25% 0 25%;
}

.about-us h1 {
    text-align: center;
    font-size: 250%;
    margin: 2rem 30%;
    border-bottom: 2px var(--second-green) solid;
}

.tx-about-us {
    margin-bottom: 2rem;
}

.image-bottom {
    display: flex;
    justify-content: center;
}

.image-bottom img {
    width: 48vh;
    height: 30vh;
    margin-bottom: 2rem;
    margin-right: 15px;
}

footer {
    text-align: center;
    background-color: var(--main-green);
    padding: 1.2rem;
}
footer a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white-grey);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
