.titulo h2{
    font-size: 200%;
    color: var(--corPrimaria);
    margin-top: 20px;
}

.titulo {
    margin: auto;
    text-align: center;
}

.imagem img{
    margin: auto;
    border: 2px var(--corPrimaria) solid;
}

.conteudo {
    text-align: justify;
    font-size: medium;
    margin: 50px;
    margin-top: 20px;
    border: 2px var(--corPrimaria) solid;
    padding: 15px;
}