* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(2, 139, 139);
    border: 1px rgb(2, 139, 139) solid;
    border-radius: 10px;
    text-align: center;
    list-style: none;
    margin: 20px;
    padding: 10px;
}

.lista-navbar li {
    font-size: 25px;
    display: inline;
}

.lista-navbar a {
    color: aliceblue;
    text-decoration: none;
}

.botao-home {
    text-align: center;
    padding-right: 25px;
}

.botao-sobre {
    text-align: center;
    padding-right: 35px;
}

body {
    background-color: rgb(250, 250, 250);
}

header {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.titulo-post {
    text-align: left;
    font-size: larger;
}

.titulo-blog {
    text-align: center;
}

h1,
h2 {
    text-align: center;
}

main {
    text-align: center;
}

.posts {
    display: inline-flex;
    text-align: center;
    margin-top: 20px;
    max-width: 150vh;
}

.posts article {
    padding: 15px;
    margin-right: 10px;
    background-color: rgba(226, 226, 226, 0.555);
    border: 2px rgb(228, 228, 228) solid;
    border-radius: 20px;
}

.posts header {
    padding-left: 10px;
}


.botao-artigo a {
    display: inline-flex;
    min-width: 10vh;
    max-width: 35vh;

    color: whitesmoke;
    padding: 10px 65px 10px 65px;
    border: 1px teal;
    border-radius: 5px;
    background-color: teal;

    text-decoration: none;
    text-align: center;
    
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#botao-clique-aqui {
    margin-top: 10px;
    text-align: center;
    color: whitesmoke;
    padding: 10px 65px 10px 65px;
    border: 1px teal;
    border-radius: 5px;
    background-color: teal;
}

figure {
    max-width: 70%;
    margin-left: 15%;
    text-align: center;
    margin: auto;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 15px;
}

strong {
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: teal;
}

img {
    border-radius: 20px;
}

footer {
    margin-top: 19vh;
    text-align: center;
    color: aliceblue;
    background-color: rgb(18, 161, 161);
    padding: 15px 0 15px 0;
    font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif
}

.fale-conosco {
    margin-top: 50px;
    padding-top: 20px;
}

.fale-conosco article {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: 10px 28% 10px 28%;
    text-align: justify;
}

footer a {
    text-decoration: none;
    color: aliceblue;
}

footer a:hover {
    text-decoration: underline;
    color: aliceblue;
}